{{ 'component-desktop-collections-slider.css' | asset_url | stylesheet_tag }}

<div class="desktop-collections-slider">
  <div class="desktop__container">
    <div class="desktop-arrows desktop-prev" onclick="desktopPlusSlides(-1)">.</div>    
    <div class="desktop-slide desktop__fade">
      <div class="desktop-slide__collection">
        {% assign collection_1 = collections['branded-shoes'] %}
        <img src="{{ collection_1.featured_image | img_url: 'master' }}" alt="collection_1 image">
        <div class="desktop-slide__collection-text">
          <h3>{{ collection_1.title }}</h3>
          <a href="{{ collection_1.url }}">
            <button>Shop</button>
          </a>
        </div>
      </div>

      <div class="desktop-slide__collection">
        {% assign collection_2 = collections['branded-tshirts'] %}
        <img src="{{ collection_2.featured_image | img_url: 'master' }}" alt="collection_1 image">
        <div class="desktop-slide__collection-text">
          <h3>{{ collection_2.title }}</h3>
          <a href="{{ collection_2.url }}">
            <button>Shop</button>
          </a>
        </div>
      </div>

      <div class="desktop-slide__collection">
        {% assign collection_3 = collections['branded-pants'] %}
        <img src="{{ collection_3.featured_image | img_url: 'master' }}" alt="collection_1 image">
        <div class="desktop-slide__collection-text">
          <h3>{{ collection_3.title }}</h3>
          <a href="{{ collection_3.url }}">
            <button>Shop</button>
          </a>
        </div>
      </div>
    </div>
  
    <div class="desktop-slide desktop__fade">
      <div class="desktop-slide__collection">
        {% assign collection_4 = collections['womens-accessories'] %}
        <img src="{{ collection_4.featured_image | img_url: 'master' }}" alt="collection_1 image">
        <div class="desktop-slide__collection-text">
          <h3>{{ collection_4.title }}</h3>
          <a href="{{ collection_4.url }}">
            <button>Shop</button>
          </a>
        </div>
      </div>

      <div class="desktop-slide__collection">
        {% assign collection_5 = collections['mens-accessories'] %}
        <img src="{{ collection_5.featured_image | img_url: 'master' }}" alt="collection_1 image">
        <div class="desktop-slide__collection-text">
          <h3>{{ collection_5.title }}</h3>
          <a href="{{ collection_5.url }}">
            <button>Shop</button>
          </a>
        </div>
      </div>

      <div class="desktop-slide__collection">
        {% assign collection_6 = collections['plain-tees'] %}
        <img src="{{ collection_6.featured_image | img_url: 'master' }}" alt="collection_1 image">
        <div class="desktop-slide__collection-text">
          <h3>{{ collection_6.title }}</h3>
          <a href="{{ collection_6.url }}">
            <button>Shop</button>
          </a>
        </div>
      </div>
    </div>
    <div class="desktop-arrows desktop-next" onclick="desktopPlusSlides(1)">.</div>      
  </div>

</div>

<script>
  let desktopSlideIndex = 1;
  desktopShowSlides(desktopSlideIndex);

  // Next/previous controls
  function desktopPlusSlides(n) {
    desktopShowSlides(desktopSlideIndex += n);
  }

  // Thumbnail image controls
  function desktopCurrentSlide(n) {
    desktopShowSlides(desktopSlideIndex = n);
  }

  function desktopShowSlides(n) {
    let i;
    let desktopSlides = document.getElementsByClassName("desktop-slide");
    if (n > desktopSlides.length) {desktopSlideIndex = 1}
    if (n < 1) {desktopSlideIndex = desktopSlides.length}
    for (i = 0; i < desktopSlides.length; i++) {
      desktopSlides[i].style.display = "none";
    }
    desktopSlides[desktopSlideIndex-1].style.display = "flex";
  }
</script>