{{ 'component-mobile-collections-slider.css' | asset_url | stylesheet_tag }}

<div class="mobile-collections-slider">
  <div class="mobile__container">
    <div class="mobile-slide mobile__fade">
      <div class="mobile-slide__collection">
        {% assign collection_1 = collections['branded-shoes'] %}
        <img src="{{ collection_1.featured_image | img_url: 'master' }}" alt="collection_1 image">
        <div class="mobile-slide__collection-text">
          <h3>{{ collection_1.title }}</h3>
          <a href="{{ collection_1.url }}">
            <button>Shop</button>
          </a>
        </div>
      </div>
    </div>
  
    <div class="mobile-slide mobile__fade">
      <div class="mobile-slide__collection">
        {% assign collection_1 = collections['branded-tshirts'] %}
        <img src="{{ collection_1.featured_image | img_url: 'master' }}" alt="collection_1 image">
        <div class="mobile-slide__collection-text">
          <h3>{{ collection_1.title }}</h3>
          <a href="{{ collection_1.url }}">
            <button>Shop</button>
          </a>
        </div>
      </div>
    </div>
  
    <div class="mobile-slide mobile__fade">
      <div class="mobile-slide__collection">
        {% assign collection_1 = collections['branded-pants'] %}
        <img src="{{ collection_1.featured_image | img_url: 'master' }}" alt="collection_1 image">
        <div class="mobile-slide__collection-text">
          <h3>{{ collection_1.title }}</h3>
          <a href="{{ collection_1.url }}">
            <button>Shop</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-arrows mobile-prev" onclick="MobilePlusSlides(-1)">.</div>
  <div class="mobile-arrows mobile-next" onclick="MobilePlusSlides(1)">.</div>  
</div>

<script>
  let MobileSlideIndex = 1;
  MobileShowSlides(MobileSlideIndex);

  // Next/previous controls
  function MobilePlusSlides(n) {
    MobileShowSlides(MobileSlideIndex += n);
  }

  // Thumbnail image controls
  function MobileCurrentSlide(n) {
    MobileShowSlides(MobileSlideIndex = n);
  }

  function MobileShowSlides(n) {
    let i;
    let MobileSlides = document.getElementsByClassName("mobile-slide");
    if (n > MobileSlides.length) {MobileSlideIndex = 1}
    if (n < 1) {MobileSlideIndex = MobileSlides.length}
    for (i = 0; i < MobileSlides.length; i++) {
      MobileSlides[i].style.display = "none";
    }
    MobileSlides[MobileSlideIndex-1].style.display = "block";
  }
</script>