{{ 'component-mobile-product-slideshow.css' | asset_url | stylesheet_tag }}

<div class="mobile-product-slideshow">
  <div class="mobile-product-slideshow__container">
    <div class="mobile-product-slide fade">
      <div class="text">1</div>
    </div>

    <div class="mobile-product-slide fade">
      <div class="text">2</div>
    </div>

    <div class="mobile-product-slide fade">
      <div class="text">3</div>
    </div>

    <div class="mobile-product-slide fade">
      <div class="product-image">{{ all_products['cowhide-standard-crew'].featured_image | img_url: 'master' | img_tag }}</div>
      <div class="product-info">
        <h1 class="product-info__title">{{ all_products['cowhide-standard-crew'].title }}</h1>
        <p class="product-info__description">{{ all_products['cowhide-standard-crew'].description }}</p>
        <a href="{{ all_products['cowhide-standard-crew'].url }}">
          <button>Shop Now</button>
        </a>
      </div>
    </div>

    <div class="mobile-product-slide fade">
      <div class="text">5</div>
    </div>

  </div>
  <br>

  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
  </div>
</div>

<script>
  let slideIndex = 4;
  showSlides(slideIndex);

  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("mobile-product-slide");
    let dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
  }
</script>